<h1>Listing organizations</h1>

<% @organizations.each do |organization| %>
  <div class="row">
    <div class="small-8 columns"><%= organization.name %></div>

    <div class="small-4 columns">
      <ul class="small-block-grid-3 columns">
        <li><%= link_to 'Show', organization, class: 'button tiny' %></li>
        <li><%= link_to 'Edit', edit_organization_path(organization), class: 'button tiny' %></li>
        <li><%= button_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button tiny' %></li>
      </ul>
    </div>
  </div>
<% end %>

<br>

<%= link_to 'New Organization', new_organization_path %>
